body {
    font-family: Arial, sans-serif;
    background-color: #f0ff4d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    padding: 8px;
    margin: 10px 0;
    width: 200px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
}